.loginPage{
    .loginPage-wrapper{
        padding: 1rem;

        .loginPage-title{
            text-align: center;
            
            h2{
                font-size: 1.25rem;
            }
        }
    }
}