.signUpPage{
    .signUpPage-wrapper{
        padding: 1rem;

        .signUpPage-title{
            text-align: center;
            
            h2{
                font-size: 1.25rem;
            }
        }
    }
}