.footer{
    box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 -2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    z-index: 999;
    height: 100%;
    margin-top: 2rem;

    .footer-wrapper{
        height: 100%;

        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-areas: 'aboutUs contacts'
                                'copyright copyright';
            grid-template-columns: repeat(2, minmax(360px, 480px));
            justify-content: center;
            gap: 2rem;
        }

        .aboutUs-container{
            padding: 1rem;
            grid-area: aboutUs;

            .aboutUs-icons{
                display: flex;
                gap: 2rem;
                margin-top: 2rem;

                .icon{
                    background-color: #000;
                    color: #fff;
                    padding: 0.75rem;
                    border-radius: 100%;

                    svg{
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
            }
        }

        .contacts-container{
            padding: 1rem;
            grid-area: contacts;

            .address, .phone, .email{
                display: flex;
                align-items: center;
                gap: 2rem;
            }
        }

        .copyright-container{
            grid-area: copyright;

            .copyright{
                padding: 1rem;

                p{
                    margin: 0;
                }
            }
        }
    }
}